# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# I use emacs
*~
.emacs.desktop*

# Build out-of-tree but in root directory
build/

# We used cmake-init to build the initial project structure
cmake-build-*/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
